@font-face {
    font-family: font1;
    src: url(font/avenir-lt-w01_35-light1475496.woff2);
}
@font-face {
    font-family: font2;
    src: url(font/file.woff2);
}
@font-face {
    font-family: font3;
    src: url(font/iEjm9hVxcattz37Y8gZwVSNMxVe3WGf96EDbCaLCBKE.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100vw;
    background-color: white;
}
header{
    height: 10vh;
    width: 100vw;
    padding: 0rem 10rem;
}
nav{
    height: 100%;
    font-family: font3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav > h1{
    color: #7b7b7c;
}
.navlinks{
    display: flex;
    gap: 15px;
}
.navlinks > a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 550;
    color: #7b7b7c;
}
.navlinks > a:hover{
    border-bottom: 2px solid red;
}
.navlinks > i{
    font-size: 1.1em;
    color: #7b7b7c;
    cursor: pointer;
}
.navlinks > i:hover{
    color: red;
}
.container{
    height: 90vh;
    padding: 0rem 10rem;
    
}
.top{
    display: flex;
    height: 50%;
    width: 100%;
}
.top #left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: font1;
}
#left .img  {
    height: 90%;
    width: 100%;
    border: 10px solid white;
    background-color: antiquewhite;
}
#left .img > img{
    height: 100%;
    width: 100%;
    cursor: pointer;
    object-fit: cover;
    filter: grayscale(4);
    transition: .3s;
}
#left .img > img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}
#left > h5{
    margin-top: 1.5%;
    font-size: 1.2rem;
    color: #7b7b7c;
}

.top #right{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: font1;
}
#right .img  {
    height: 90%;
    width: 100%;
    border: 10px solid white;
    background-color: antiquewhite;
}
#right .img > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(4);
    transition: .3s;
}
#right .img > img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}
#right > h5{
    margin-top: 1.4%;
    font-size: 1.2rem;
    color: #7b7b7c;
}
.bottom{
    height: 50%;
    width: 100%;
    display: flex;
}

.bottom #left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: font1;
}
#left .img  {
    height: 90%;
    width: 100%;
    border: 10px solid white;
    background-color: antiquewhite;
}
#left .img > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#left > h5{
    margin-top: 1.5%;
    font-size: 1.2rem;
    color: #7b7b7c;
}

.bottom #right{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: font1;
}
#right .img  {
    height: 90%;
    width: 100%;
    border: 10px solid white;
    background-color: antiquewhite;
}
#right .img > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#right > h5{
    margin-top: 1.4%;
    font-size: 1.2rem;
    color: #7b7b7c;
}